@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    margin: 0;
}

html {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    color: #234465;
}

body {
    background: rgb(0, 255, 191);
    background: linear-gradient(90deg, rgba(0, 255, 191, 1) 0%, rgba(0, 193, 255, 1) 100%);
    
}

input[type="button"],
button {
    padding: 0.3rem 1rem;
    font-size: 22px;
    margin: 1rem 0px;
    color: #444444;
    background: transparent;
    border-radius: 12px;
    outline: none;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0px;
    border: 2px solid #444444;
    cursor: pointer;
}

#btn-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-weight: 900;
    font-size: 14px;
    margin: 0.5rem auto 0.2rem auto;
    transition: all linear 0.2s;
}

button:hover {
    background-color: antiquewhite;
}

input[type="button"]:hover,
button:hover {
    color: white;
    background: #444444;
}

input,
select {
    font-size: 1.0em;
}

#container,
footer {
    width: 30%;
    margin: 3px auto;
    text-align: left;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 3px 10px;
    position: relative;
    background-color: rgb(255, 246, 235);
}

label,
input {
    display: block;
    width: 100%;
    margin: 1px 0;
}

input,
select {
    border: 1px solid lightgrey;
    outline: none;
    border-radius: 6px;
    padding: 5px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#result {
    border-radius: 6px;
    margin-bottom: 6px;
    background-color: white;
}

input:hover,
select:hover {
    background-color: rgba(216, 216, 216, 0.247);
}